/*
 * Custom elements rules
 */
@charset "utf-8";

body {
  @include palette() {
    background-color: palette-get('body-color');
    color: palette-get('text-color');
  }
}

a {
  @include palette() {
    color: palette-get('link-color');
  }

  &:hover {
    @include palette() {
      color: palette-get('link-hover');
    }
  }
}

p {
  @include palette() {
    color: palette-get('text-color');
  }
}

strong {
  @include palette() {
    color: palette-get('text-color');
  }
}

.input,
.select select,
.textarea {
  @include palette() {
    background-color: transparent;
    color: palette-get('text-color');
    border-color: palette-get('tab-color');
  }

  &::placeholder {
    @include palette() {
      color: palette-get('link-color');
    }
  }
}


#light-switch {
  margin-top: 1.75rem;

  span.icon::after {
    @extend .fontello-icon;
    position: absolute;
    visibility: visible;

    @include palette() {
      content: palette-get('switch-icon');
    }
  }
}

/*-----------------------------navbar-----------------------------*/
a.navbar-item.logo {
  min-height: 6rem;
  padding: .5rem .75rem;

  img {
    max-height: 5rem;
    height: 5rem;
  }
}

nav.navbar div.navbar-menu div.navbar-brand a.navbar-item.logo {
  &:hover {
    background-color: transparent;
  }
}

nav.container.breadcrumb {
  @include palette() {
    background-color: palette-get('body-color');
  }
  margin-top: 5rem;

  li.is-active a {
    @include palette() {
      color: palette-get('text-color');
    }
  }
}

.breadcrumb-aside {
  font-size: 0.7rem;
  position: absolute;

  span.icon {
    margin-top: -0.25rem;
  }
}

/*-----------------------------side menu-----------------------------*/
.toctree-l1 {
  > a {
    font-weight: 700;

    &::after {
      font-weight: 100;
    }
  }
}

aside.menu {
  margin-bottom: 5rem;

  .caption {
    font-weight: bold;
  }

  ul {
    list-style-type: none;
    padding-right: 0;

    li a::after {
      @extend .fontello-icon;
      @include palette() {
        color: palette-get('link-color');
      }
      margin-left: 0.5rem;
      font-size: 0.75rem;
    }

    .toctree-l1 a::after {
      content: "\f097";
    }

    .toctree-l2 a::after {
      content: "\f104";
    }
  }

  ul ul {
    margin-right: 1.6rem;
  }
    
  li {
    font-size: small;
    line-height: 1.6;
  }
}

/*-----------------------------main-----------------------------*/
main .container .columns .column {
  padding: 1rem;
}

main {
  @include palette() {
    background-color: palette-get('body-color');
  }
  padding-bottom: 5rem;
}

span.icon > i {
  @extend .fontello-icon;
}

.document {
  h1 {
    @extend .title;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include palette() {
      border-bottom: palette-get('tab-color') solid 1px;
      color: palette-get('title-color');
    }
    padding-bottom: 0.25em;
    
    &:hover {
      a.headerlink::after {
        visibility: visible;
        opacity: 0.6;
      }
    }
  }

  a.headerlink {
    position: absolute;
    visibility: hidden;

    &::after {
      @include flipHor();
      @extend .fontello-icon;
      content: "\e907";
      position: inherit;
      left: 0;
      padding-right: 0.4em;
      font-size: 0.8em;
      top: 0.25rem;
    }
  }

  section {
    display: block;
    overflow: hidden;

    &:not(:first-child) {
      margin-top: 2rem;
    }
  }

  .admonition {
    @extend .message;
    background-color: $dark-bg;

    p.admonition-title {
      @extend .message-header;
      background-color: $message-bg;
      color: $message-color;

      &:not(:last-child) {
        margin: 0;
      }
    }

    p:not(.admonition-title) {
      @extend .message-body;
      background-color: $dark-bg;
      color: $message-color;
    }

    &.note,
    &.important {
      @extend .message, .is-success;

      .admonition-title {
        &::after {
          @extend .fontello-icon;
          content: "\e859";
        }
      }
    }

    &.hint,
    &.tip {
      @extend .message, .is-info;

      .admonition-title {
        &::after {
          @extend .fontello-icon;
          content: "\e823";
        }
      }
    }

    &.attention,
    &.caution,
    &.warning {
      @extend .message, .is-warning;

      .admonition-title {
        &::after {
          @extend .fontello-icon;
          content: "\e829";
        }
      }
    }

    &.danger,
    &.error {
      @extend .message, .is-danger;

      .admonition-title {
        &::after {
          @extend .fontello-icon;
          content: "\f188";
        }
      }
    }
  }

  .citation-reference,
  .footnote-reference {
    font-size: 10px;
    position: relative;
    top: -0.5rem;
  }

  span.guilabel {
    @extend .tag, .is-normal;

    @include palette() {
      background-color: palette-get('label-bg');
      color: palette-get('label-color');
      border: palette-get('label-border');
      height: 1.5rem;
    }
  }

  .line-block {
    margin-bottom: 1rem;
    margin-left: 1rem;
  }

  aside.sidebar {
    @extend .content;
    @extend .card;
    max-width: 40%;
    float: right;
    margin: 0 1rem 2.5rem 2.5rem;
    padding: 1.5rem;
    @include palette() {
      background-color: palette-get('bg-color');
    }

    p.sidebar-title {
      @extend .has-text-weight-bold;
    }
  }

  .label {
    @extend .tag;

    @include palette() {
      background-color: palette-get('footnote-bg');
      color: palette-get('footnote-color');
      border: palette-get('footnote-border');
    }
  }

  .glossary {
    dt {
      @extend .tag;

      @include palette() {
        background-color: palette-get('glossary-bg');
        color: palette-get('glossary-color');
        border: palette-get('glossary-border');
      }
    }
  }

  .rubric {
    margin-bottom: 1.25rem;
    font-weight: 700;
  }

  .topic {
    @extend .content;
    @include palette() {
      color: palette-get('text-color');
    }

    &-title {
      @extend .title;

      @include palette() {
        color: palette-get('title-color');
      }
    }
  }

  code.download,
  tt.download {
    background: inherit;
    padding: inherit;
    font-weight: 400;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: inherit;
    white-space: inherit;

    &::before {
      @extend .fontello-icon;
      content: "\e824";
      padding-right: 0.5rem;
    }
  }

  ol {
    &.loweralpha {
      list-style-type: lower-alpha;
    }

    &.lowerroman {
      list-style-type: lower-roman;
    }

    &.upperalpha {
      list-style-type: upper-alpha;
    }

    &.upperroman {
      list-style-type: upper-roman;
    }
  }

  ul li p:not(:last-child) {
    margin: 0;
  }

  ul.simple {
    list-style: circle outside;
  }

  dt {
    @extend .tag;
    
    @include palette() {
      background-color: palette-get('footnote-bg');
      color: palette-get('footnote-color');
      border: palette-get('footnote-border');
    }
  }

  figure {
    @extend .image;
  }

  .align-right {
    @extend .is-pulled-right;
  }

  .align-left {
    @extend .is-pulled-left;
  }

  table {
    overflow-x: auto;
    display: block;
    width: 100%;
    max-width: 100%;

    td {
      border: none;
    }

    tr.row-odd {
      @include palette() {
        background-color: palette-get('bg-color');
      }
    }
  }

  dd,
  .topic dd,
  aside.sidebar dd {
    margin-left: 2em;
    font-size: 14px;
    line-height: 26px;
  }

  .viewcode-link span.pre {
    visibility: hidden;
    position: absolute;

    &::after {
      @extend .fontello-icon;
      content: "\f1c9";
      display: block;
      visibility: visible;
      position: absolute;
      left: 1.5rem;
      bottom: 0.6em;
      font-weight: 100;
      font-size: medium;
    }
  }

  div.viewcode-block {
    margin-left: 2.5rem;

    a.viewcode-back {
      visibility: hidden;
      position: absolute;
  
      &::before {
        @extend .fontello-icon;
        content: "\f0f6  \f177";
        display: block;
        visibility: visible;
        position: relative;
        right: 2.5rem;
        bottom: 0.2em;
        font-weight: 100;
        font-size: medium;
      }
    }
  }

  blockquote {
    @include palette() {
      background-color: palette-get('bis-color');
      border-left: 5px solid palette-get('tab-color');
    }
  }
}

#search-results,
.content {
  @extend .document;
}

footer.footer {
  @include palette() {
    background-color: palette-get('bis-color');
  }

  span.tag {
    font-family: $family-primary;

    &.is-dark {
      @include palette() {
        background-color: palette-get('text-color');
        color: palette-get('bg-color');
      }
    }
  }
}

$breakpoint: 1024px;
.container:not(.navbar-menu) {
  @include until($breakpoint) {
    margin: 3rem;
    background-color: inherit;
  }
}

.navbar,
.navbar-end,
.navbar-menu,
.navbar-start {
  @include until($breakpoint) {
    align-items: stretch;
    display: flex;
  }
}

.navbar-menu.container {
  @include until($breakpoint) {
    padding: 1.5rem;
    background-color: inherit;
    display: flex;

    .navbar-start {
      justify-content: flex-start;
      margin-right: auto;
    }

    .navbar-end {
      justify-content: flex-end;
      margin-left: auto;
    }
  }
}
