/*
 * Default variables to be used
 */
@charset "utf-8";

$purple: hsl(257, 95%, 67%);
$green: hsl(157, 100%, 34%);
$cyan: hsl(198, 99%, 37%);
$red: hsl(5, 74%, 59%);
$redish: hsl(344, 84%, 43%);
$blue: hsl(221, 87%, 60%);
$blueish: hsl(221.1, 100%, 82%);
$yellow: hsl(46, 100%, 50%);
$pink: hsl(303, 48%, 65%);
$orange: hsl(29, 100%, 50%);
$gold: hsl(41, 99%, 38%);
$greenish: hsl(119, 34%, 47%);

$dark-text: hsl(210, 17%, 82%);
$dark-tab: hsl(218, 13%, 28%);
$dark-bg: hsl(214, 28%, 10%);
$dark-body: hsl(216, 28%, 7%);
$dark-title: hsl(0, 50%, 98%);

$message-bg: $dark-tab;
$message-color: $dark-text;

$primary: $purple;

$family-primary: 'Josefin Sans', sans-serif;
$family-code: 'Courier Prime', monospace;
