/*
 * Document component
 */

@use 'sass:color';

@use 'bulma';
@use 'palette';
@use 'icon';
@use 'util';

#search-results,
.content,
.document {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding-bottom: 0.25em;
    @include palette.set() {
      border-bottom: palette.get('tab-color') solid 1px;
      color: palette.get('title-color');
    }
    
    &:hover {
      a.headerlink::after {
        visibility: visible;
        opacity: 0.6;
      }
    }
  }

  a.headerlink {
    position: absolute;
    visibility: hidden;

    &::after {
      @include util.flip();
      @include icon.set('\e907');
      position: inherit;
      left: 0;
      padding-right: 0.4em;
      font-size: 0.8em;
      top: 0.25rem;
    }
  }

  section {
    display: block;
    overflow: hidden;

    &:not(:first-child) {
      margin-top: 2rem;
    }
  }

  .admonition {
    @include palette.set() {
      margin: 0.5rem;
      background-color: palette.get('bg-color');

      p {
        padding: 0 0.75rem 0.25rem 0.75rem;
        background-color: color.adjust(palette.get('tab-color'), $alpha: -0.75);
        color: color.adjust(palette.get('text-color'), $lightness: palette.get('lighness'));

        &.admonition-title {
          padding-top: 0.5rem;

          &::before {
            margin-right: 0.5rem;
          }
        }

        &:not(:last-child) {
          margin: 0;
        }

        &:first-child {
          border-radius: bulma.$radius bulma.$radius 0 0;
        }

        &:last-child {
          border-radius: 0 0 bulma.$radius bulma.$radius;
        }
      }

      &.note,
      &.important {
        p {
          background-color: color.adjust(palette.get('green'), $alpha: -0.75);

          &.admonition-title {
            color: color.adjust(palette.get('green'), $lightness: palette.get('lighness'));

            &::before {
              @include icon.set('\e859');
            }
          }
        }
      }

      &.hint,
      &.tip {
        p {
          background-color: color.adjust(palette.get('cyan'), $alpha: -0.75);

          &.admonition-title {
            color: color.adjust(palette.get('cyan'), $lightness: palette.get('lighness'));

            &::before {
              @include icon.set('\e823');
            }
          }
        }
      }

      &.attention,
      &.caution,
      &.warning {
        p {
          background-color: color.adjust(palette.get('orange'), $alpha: -0.75);

          &.admonition-title {
            color: color.adjust(palette.get('orange'), $lightness: palette.get('lighness'));

            &::before {
              @include icon.set('\e829');
            }
          }
        }
      }

      &.danger,
      &.error {
        p {
          background-color: color.adjust(palette.get('red'), $alpha: -0.75);

          &.admonition-title {
            color: color.adjust(palette.get('red'), $lightness: palette.get('lighness'));

            &::before {
              @include icon.set('\f188');
            }
          }
        }
      }
    }
  }

  .citation-reference,
  .footnote-reference {
    font-size: 10px;
    position: relative;
    top: -0.5rem;
  }

  .line-block {
    margin-bottom: 1rem;
    margin-left: 1rem;
  }

  aside.sidebar {
    @extend .card;
    max-width: 40%;
    float: right;
    margin: 0 1rem 2.5rem 2.5rem;
    padding: 1.5rem;
    @include palette.set() {
      background-color: palette.get('bg-color');
    }

    p.sidebar-title {
      @extend .has-text-weight-bold;
    }
  }

  .rubric {
    margin-bottom: 1.25rem;
    font-weight: 700;
  }

  code.download,
  tt.download {
    background: inherit;
    padding: inherit;
    font-weight: 400;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: inherit;
    white-space: inherit;

    &::before {
      @include icon.set('\e824');
      padding-right: 0.5rem;
    }
  }

  ol {
    &.loweralpha {
      list-style-type: lower-alpha;
    }

    &.lowerroman {
      list-style-type: lower-roman;
    }

    &.upperalpha {
      list-style-type: upper-alpha;
    }

    &.upperroman {
      list-style-type: upper-roman;
    }
  }

  ul li p:not(:last-child) {
    margin: 0;
  }

  ul.simple {
    list-style: circle outside;
  }

  figure {
    @extend .image;
  }

  .align-right {
    @extend .is-pulled-right;
  }

  .align-left {
    @extend .is-pulled-left;
  }

  table {
    overflow-x: auto;
    display: block;
    width: 100%;
    max-width: 100%;

    td {
      border: none;
    }

    tr.row-odd {
      @include palette.set() {
        background-color: palette.get('bg-color');
      }
    }
  }

  dd,
  .topic dd,
  aside.sidebar dd {
    margin-left: 1rem;
    margin-top: 0.25rem;
    font-size: 14px;
    line-height: 26px;
    padding-left: 1rem;
    border-left: 1px solid var(--primary);
  }

  .viewcode-link span.pre {
    visibility: hidden;
    font-size: 0;
    margin-left: 0.5rem;

    &::after {
      @include icon.set('\f1c9');
      visibility: visible;
      position: relative;
      font-weight: 100;
      font-size: medium;
    }
  }

  div.viewcode-block {
    a.viewcode-back {
      visibility: hidden;
      font-size: 0;
      margin-right: 0.5rem;
  
      &::before {
        @include icon.set('\f0f6  \f177');
        visibility: visible;
        position: relative;
        font-weight: 100;
        font-size: medium;
      }
    }
  }

  .tagmod {
    align-items: center;
    border-radius: bulma.$tag-radius;
    display: inline-flex;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding-left: 0.75em;
    padding-right: 0.75em;
  }

  @include palette.set() {
    blockquote {
      background-color: palette.get('bis-color');
      border-left: 5px solid palette.get('tab-color');
    }

    .topic {
      color: palette.get('text-color');
  
      &-title {
        @extend .title;
        color: palette.get('title-color');
      }
    }

    span.guilabel {
      @extend .tagmod;
      background-color: palette.get('label-bg');
      color: palette.get('label-color');
      border: palette.get('label-border');
      height: 1.25rem;
      font-size: 0.8rem;
      font-weight: 100;
    }

    dt,
    .label {
      @extend .tagmod;
      background-color: palette.get('footnote-bg');
      color: palette.get('footnote-color');
      border: palette.get('footnote-border');
      margin-top: 0.5rem;
    }
  
    .glossary {
      dt {
        @extend .tagmod;
        background-color: palette.get('glossary-bg');
        color: palette.get('glossary-color');
        border: palette.get('glossary-border');
        margin-top: 0.5rem;
      }
    }
  }

  .versionadded,
  .versionchanged,
  .deprecated:not(.versionmodified) {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    @include palette.set() {
      background-color: palette.get('bis-color');
      border-top: 4px solid palette.get('tab-color');

      .versionmodified.added {
        color: palette.get('cyan');
      }

      .versionmodified.changed {
        color: palette.get('orange');
      }

      .versionmodified.deprecated {
        color: palette.get('red');
      }
    }
  }

  .field-list dd ul {
    margin-top: 0;
  }
}
