/*
 * Default code styles
 */

@use 'bulma';
@use 'palette';

code,
pre {
  font-family: bulma.$family-code;
  @include palette.set() {
    background-color: palette.get('bg-color');
  }
}

div [class^='highlight-'] {
  margin-bottom: 1rem;
  overflow-x: auto;
}

dt:not(footer),
span.guilabel:not(footer),
.glossary dt:not(footer),
.label:not(footer),
.tag:not(footer) {
  @include palette.set() {
    font-family: bulma.$family-code;
    font-size: 14px;
    font-weight: 600;
    margin: 0.1rem;
    white-space: pre;
  
    .property span.pre {
      color: palette.get('pink');
    }

    .sig {
      &-name {
        color: palette.get('red');
      }

      &-param {
        color: palette.get('code-color');
      }

      &-prename {
        color: palette.get('blue');
      }
    }
  }
}

pre:not(.dummy) {
  @include palette.set() {
    color: palette.get('red');
    padding: 1.5rem;
  }

  span {
    line-height: 20px;

    &.linenos {
      font-size: 12px;
      padding-right: 20px;
      @include palette.set() {
        color: palette.get('code-color');
      }
    }
  }
}

pre {
  padding: 2rem;
}

.highlight {
  margin: 1rem 0;

  pre {
    padding: 1rem;
  }

  @include palette.set() {
    .bp,
    .o,
    .vc,
    .vi,
    .vg {
      color: palette.get('blue');
    }

    .c,
    .cm {
      color: palette.get('greenish');
      font-style: italic;
    }

    .c1,
    .cs {
      color: palette.get('greenish');
      font-style: italic;
    }

    .cp {
      font-style: italic;
      color: palette.get('green');
    }

    .err {
      color: palette.get('code-color');
    }

    .g,
    .gd,
    .ge,
    .gh,
    .gi,
    .go,
    .gp,
    .gr,
    .gs,
    .gt,
    .gu {
      color: palette.get('link-color');
    }

    .hll {
      background-color: palette.get('hll-color');
    }

    .il,
    .ld,
    .m,
    .mf,
    .mh,
    .mi,
    .mo {
      color: palette.get('orange');

    }

    .k,
    .kc,
    .kd {
      color: palette.get('pink');
    }

    .kc {
      color: palette.get('orange');
    }

    .kn {
      color: palette.get('blue');
    }

    .kp,
    .kr,
    .kt {
      color: palette.get('pink');
    }

    .l {
      color: palette.get('greenish');
    }

    .n,
    .x {
      color: palette.get('code-color');
    }

    .na {
      color: palette.get('blue');
    }

    .nb {
      color: palette.get('cyan');
    }

    .nc {
      color: palette.get('blue');
    }

    .nd,
    .no {
      color: palette.get('pink');
    }

    .ne,
    .ni {
      color: palette.get('code-color');
    }

    .nf {
      color: palette.get('blueish');
    }

    .nl {
      color: palette.get('link-color');
    }

    .nn {
      color: palette.get('orange');
    }

    .nt {
      color: palette.get('gold');
    }

    .nv {
      color: palette.get('orange');
    }

    .nx {
      color: palette.get('cyan');
    }

    .ow {
      color: palette.get('pink');
    }

    .py {
      color: palette.get('code-color');
    }

    .s,
    .s1,
    .s2,
    .sb,
    .sc,
    .sd,
    .se,
    .sh,
    .si,
    .sr,
    .sx {
      color: palette.get('greenish');
    }

    .ss {
      color: palette.get('cyan');
    }

    .w {
      color: transparent;
    }
  }
}
