/*
 * Navbar styles
 */

@use 'palette';
@use 'icon';

a.navbar-item.logo {
  min-height: 6rem;
  padding: .5rem .75rem;

  img {
    max-height: 5rem;
    height: 5rem;
  }
}

nav.navbar div.navbar-menu div.navbar-brand a.navbar-item.logo {
  &:hover {
    background-color: transparent;
  }
}

nav.container.breadcrumb {
  margin-top: 5rem;
  @include palette.set() {
    background-color: palette.get('body-color');
  }

  li.is-active a {
    @include palette.set() {
      color: palette.get('text-color');
    }
  }
}

.breadcrumb-aside {
  font-size: 0.7rem;
  position: absolute;

  span.icon {
    margin-top: -0.25rem;
  }
}

#light-switch {
  margin-top: 1.75rem;

  span.icon::after {
    position: absolute;
    visibility: visible;
    @include palette.set() {
      @include icon.set(palette.get('switch-icon'));
    }
  }
}
